body{
	background-color: #e8e8e8;
	font-family: 'Architects Daughter', cursive;
}


.headOfSite{
	padding-right: 0px;
	padding-left: 0px;
}

#menuBar{
	background-color: #cfd3ce;
	width: 100%;
}

.pageHead{
	text-align: center;
	margin-top: 50px;
	margin-bottom: 60px;
}
.row1{
	grid-gap: 105px;
}
.rows{
	padding-left: 0px;
	padding-right: 0px;
}

.col{
	background-color: #7e7474;
	border-style: solid;
}




/*.col2{
	margin-right: 60px;
}

.col3{
	margin-right: 10px;
}
*/
