body{
    background-color: #f1d4d4;
}

h1{
    text-align: center;
    margin-bottom: 80px;
    margin-top: 40px;
    font-family: 'Heebo', sans-serif;
}


h3{
    margin:0px;
}


.sectitle{
    position: absolute;
    text-align: center;
    clear: left;
    top:0px;
    right: 0px;
    background-color: #bedbbb;
    width:21%;
    border:solid;

}
.section1{

    position: relative;
    float:left;
    width:30%;
    height:170px;
    background-color: #92817a;
    padding: 30px 10px 10px 5px;
    border:solid;
    margin-right: 20px;

}


.section2{
    position: relative;
    float:left;
    width:30%;
    height:170px;
    background-color: #92817a;
    padding: 30px 10px 10px 5px;
    border:solid;
    margin-right: 20px;
}


.section3{
    position: relative;
    float:left;
    width:30%;
    height:170px;
    background-color: #92817a;
    padding: 30px 10px 10px 5px;
    border:solid;
}

.bottom{
    position: fixed;
    box-sizing: border-box;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #92817a;
    height: 20px;
    width: 100%;
    border: solid;
}

@media (max-width: 1048px){
    .section1{
        margin-left: 30px;
        width:43%;
    }

    .section2{
        width: 43%;
        margin-left: 10px;
    }

    .section3{

        margin: 30px;
        width: 91%;
    }


}

@media(max-width: 904px){


    .section1{

        margin:30px 40px;
        width:80%;
    }
    .section2{
        margin:30px 40px;
        width:80%;
    }
    .section3{

        margin: 30px 40px;
        width:80%;
    
    }
}