@import url("normal normal normal poppins-semibold,poppins,sans-serif");

html{
	scroll-behavior: smooth;
}

*{
    transition: width 2s, height 2s, transform 1s;
}

body{
	/*background-color:#f1f1f1;*/
	font-family: normal normal normal poppins,sans-serif;
	font-size: 2vh;
}

.side-title{
	color: #ff8585;
	text-decoration: none;

}

.side-title:hover{
	color: white;	
	text-decoration: none;
}

.position{
	color: #ff8585;
	font-size: 2vh;

}

.heading{
	margin-top: 100px;
	font-size: 8vh;
	height: 100px;
	padding-top: 20px;
	background-color: white;
	text-align: center;
	animation-name: slideIn;
	animation-duration: 8s;
	animation-iteration-count: 1;
}

@keyframes slideIn {
  0% {
    margin-left: 0%;
  }
  50% {
    margin-left: 300px;
  }
  100% {
    margin-left: 0%;
  }
}

.events{
	margin-top: 10vh;
}


.event{
	background-color: #ffb396;
	margin-top: 50px;
	padding: 12px 20px;
	margin-left: auto;
	border-radius: 100px;
}

.event h5{
	font-size: 2.5vh;
}

a :hover{
	text-decoration: none;
}

#foot{
	background-color: #ffb396; 
	padding-top: 10px;
	margin-top: 100px;
	height: 50px;
}




@media screen and (max-width: 600px) {
   .col-75, {
    width: 100%;
    margin-top: 0;
  }
}

/*-----Contact Form--------------*/

#contactInfo{
	padding: 20px;
	outline: no;
	font-size: 2vh;
}

.col4{
	background-color: #ffb396;
	border-radius: 80px;
}

.col5{
	padding: 50px 20px 80px 70px;
	font-size: 2.5vh;
}

.col5 h2{
	font-size: 5vh;
}
#contact{
	margin-top: 100px;
}

.contactMe{
	/*font-family: popins, sans-serif;*/
	font-family: 'Heebo', sans-serif;
	/*font-weight: bolder; */
	padding-top: 20px;
	padding-left: 20px;
}
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
  font-size: 110%;
}

button{
	position: absolute;
	bottom: 0px;
	clear: right;
}



/* Add styles to 'input' and 'textarea' selectors */
input[type=text],input[type=email], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

/* Add styles to show 'focus' of selector */
input[type=text]:focus,input[type=email]:focus, textarea:focus {
	border: 1px solid green;
}

/* Add styles to the submit button */
input[type=submit] {
	background: #ff4646;
	margin: 0 auto;
	outline: 0;
	color: white;
	border: 0;
	padding: 12px 24px;
	border-radius: 4px;
	transition: all ease-in-out 0.1s;
	position: relative;
	display: inline-block;
	text-align: center;
}

/* Add styles for 'focus' property */
input[type=submit]:focus {
	background: #A5D6A7;
}

/* Style 'hover' property */
input[type=submit]:hover {
	background: #af2d2d;
}


/*Adding ZoomIn Animation*/

.events div:hover{
	transform: scale(1.1);
}