/* Importing the Roboto font from Google Fonts. */
/*@import url("normal normal normal 40px/1.35em poppins-semibold,poppins,sans-serif");*/

html{
	scroll-behavior: smooth;
}

*{
    transition: width 2s, height 2s, transform 1s;
}


body{
	background-color:#f1f1f1;
	font-family: normal normal normal 16px/20px popins,sans-serif;
	font-size: 2vh;
}

.side-title{
	color: #21209c;
	text-decoration: none;

}

.side-title:hover{
	color: black;	
	text-decoration: none;
}

.position{
	color: #21209c;
	font-size: 2vh;

}

.introImage{
	position: relative;
	text-align: center;
	margin-bottom: 100px; 
}

.introHeading{
	position: absolute;
	color: white; 
	top:50%;
	left: 50%;
	font-size: 5vh;
	transform: translate(-50%, -50%);
}
.introImage img{
	width: 100%;
}

#intro{	
	margin: 50px;
}

#intro .row{
	grid-gap: 50px;
}

.mainImage{	
	object-position: 50% 50%;
	position: relative;
	right: 20px;
	bottom: 20px;
	width: 100%;
	object-fit: cover;
	height: 550px;
	width: 460px;
	
}

.classImage{
	height: auto;
	margin-left: auto;
	margin-right: auto;
	background-color: #0a043c;
}

.aboutMe{
	font-size: 6vh;
}


.col2{
	padding: 160px 65px 0px 65px;
	font-size: 2.5vh;
}

.col{
	border: 1px Solid;
	border-color:#0a043c ;
	background-color: #fcf8e8;
	background-size: 690px 368px;
	color: black;
}	

.award a:hover{
	text-decoration: none;
}
#midSection .row{
	margin-top: 100px;
	margin-right: auto;
	margin-left: auto; 
	grid-column-gap: 138px;
	grid-row-gap: 50px;
	font-size: 2.5vh;
}

.col h3{
	font-size: 4vh;
}
/*	
font-family: 'Abril Fatface', cursive;
font-family: 'Fredoka One', cursive;
font-family: 'Lobster', cursive;
font-family: 'Londrina Solid', cursive;*/

.about{
	background-color: #0a043c;
	height: 550px;
	margin: 100px auto;
	width: auto;
}


.about h1{

	font-size: 6vh;
	text-decoration: none;
}

#contactInfo{
	padding: 20px;
	outline: no;
	font-size: 2vh;
}

.col4{
	border:	solid;
	/*background-color: #ffb396;*/
	border-radius: 80px;
	border-width: thin;
	border-color: #0a043c;
}

.col5{
	padding: 50px 20px 80px 70px;
	font-size: 2.5vh;
	color: #0a043c;
}

.col5 h2{
	font-size: 5vh;
}
#contact{
	margin-top: 100px;
}


.contactMe{
	/*font-family: popins, sans-serif;*/
	font-family: 'Heebo', sans-serif;
	/*font-weight: bolder; */
	padding-top: 20px;
	padding-left: 20px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
  font-size: 110%;
}

button{
	position: absolute;
	bottom: 0px;
	clear: right;
}


#foot{
	background-color: #ffb396; 
	padding-top: 10px;
	margin-top: 100px;
	height: 50px;
}


@media screen and (max-width: 600px) {
   .col-75, {
    width: 100%;
    margin-top: 0;
  }
}

/*-----Contact Form--------------*/



/* Add styles to 'input' and 'textarea' selectors */
input[type=text],input[type=email], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

/* Add styles to show 'focus' of selector */
input[type=text]:focus,input[type=email]:focus, textarea:focus {
	border: 1px solid green;
}

/* Add styles to the submit button */
input[type=submit] {
	background: #0a043c;
	margin: 0 auto;
	outline: 0;
	color: white;
	border: 0;
	padding: 8px 24px;
	border-radius: 4px;
	transition: all ease-in-out 0.1s;
	position: relative;
	display: inline-block;
	text-align: center;
}

/* Add styles for 'focus' property */
input[type=submit]:focus {
	background: #A5D6A7;
}

/* Style 'hover' property */
input[type=submit]:hover {
	background: #6155a6;
}

/* Align items to center of the 'div' with the class 'center' */
/*.center {
	text-align: center;
}*/